<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <label for="order">Order by:</label>
        <select class="form-control" id="order">
            <option selected="selected">Date</option>
            <option>Rating</option>
            <option>Title</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="filter">Filter:</label>
        <input type="text" class="form-control" id="filter" />
    </div>
    <div class="col-md-3">
        <label for="page-size">Page size:</label>
        <select class="form-control" id="page-size">
            <option selected="selected" value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
        </select>
    </div>
    <div class="col-md-1 bottom-align">
        <label>Apply</label>
        <button class="form-control btn btn-primary">Go</button>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="pagination">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>