<div class="col-md-4 col-md-offset-4 jumbotron">
    <h3 class="text-center">Login Form</h3>
    <form name="loginForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" required="required" placeholder="Username" ng-model="user.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required="required" placeholder="Password" ng-model="user.password">
        </div>
        <button type="submit" class="btn btn-success btn-block" ng-click="vm.loginUser(user, loginForm)" ng-disabled="loginForm.$invalid">Login</button>
    </form>
</div>