<div class="col-md-6 col-md-offset-3">
    <form>
        <div class="form-group">
            <label for="display-name">Display Name</label>
            <input type="text" class="form-control" id="display-name" required="required" placeholder="Display name">
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" required="required" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required="required" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" required="required" placeholder="Confirm password">
        </div>
        <div class="form-group">
            <label for="male-btn">Gender</label>
            <br />
            <label for="male-btn">Male</label>
            <input type="radio" id="male-btn" checked="checked" name="gender" />
            <label for="female-btn">Female</label>
            <input type="radio" id="female-btn" name="gender" />
        </div>
        <div class="form-group">
            <label for="birthdate">Birthdate</label><br />
            <input type="text" class="form-control" datepicker id="birthdate" placeholder="Birthdate" />
        </div>
        <div class="form-group">
            <label for="additional-information">Additional Information</label>
            <textarea class="form-control" id="additional-information" placeholder="Tell us about yourself"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-block">Register</button>
    </form>
</div>