<div class="col-md-6 col-md-offset-3">
    <form name="registerForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" required="required" placeholder="Username" ng-model="user.username">
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" required="required" placeholder="Email" ng-model="user.email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required="required" placeholder="Password" ng-model="user.password">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" required="required" placeholder="Password" ng-model="user.confirmPassword">
        </div>
        <div class="form-group">
            <label for="male-btn">Gender</label>
            <br />
            <label for="male-btn">Male</label>
            <input type="radio" id="male-btn" ng-checked="true" name="gender" value="1" ng-model="user.gender"/>
            <label for="female-btn">Female</label>
            <input type="radio" id="female-btn" name="gender" />
        </div>
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" id="firstname" placeholder="Firstname" ng-model="user.firstname" />
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" id="lastname" placeholder="Lastname" ng-model="user.lastname" />
        </div>
        <div class="form-group">
            <label for="birthdate">Birthdate</label><br />
            <input type="text" class="form-control" datepicker id="birthdate" placeholder="Birthdate" ng-model="user.birthDate"/>
        </div>
        <div class="form-group">
            <label for="additional-information">Additional Information (Optional)</label>
            <textarea class="form-control" id="additional-information" placeholder="Tell us about yourself" ng-model="user.additionalInfo"></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-block" ng-disabled="registerForm.$invalid" ng-click="vm.registerUser(user, registerForm)">Register</button>
    </form>
</div>