<div class="col-md-8 col-md-offset-2 view-container">
    <div class="row">
        <h2 class="text-center jumbotron">General Info</h2>
        <div class="col-md-10 col-md-offset-1">
            <p>Negwork is an open-source school project.</p>
            <p>It is used to share interesting articles and images with everyone.</p>
            <p>Everyone is eligible to register and enjoy the content</p>
            <p>Registered users can access details for the articles,
             create new articles and categories,
             sort and filter articles,
             rate articles and comment on articles.</p>
            <p><b>Created by: Veselin Minev</b></p>
        </div>
    </div>
    <div class="row">
        <h3 class="text-center jumbotron">List of tools used</h3>
        <div class="col-md-10 col-md-offset-1">
            <h4>Here is a list of everything I used in the creation of this project.</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Used for</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td>ASP.NET WebApi</td>
                        <td>Defines endpoints for accessing the database and providing authentication</td>
                    </tr>
                    <tr class="success">
                        <td>SQL Server 2014</td>
                        <td>Storage for the articles, users, images, categories, comments, ratings</td>
                    </tr>
                    <tr class="success">
                        <td>EntityFramework</td>
                        <td>Access to the database through the server</td>
                    </tr>
                    <tr class="success">
                        <td>Automapper</td>
                        <td>Easier mapping for database models to WebApi request and response models</td>
                    </tr>
                    <tr class="success">
                        <td>Ninject</td>
                        <td>Dependency injection in the backend</td>
                    </tr>
                    <tr class="warning">
                        <td>AngularJS</td>
                        <td>Creating the single-page client application</td>
                    </tr>
                    <tr class="warning">
                        <td>AngularJS Route</td>
                        <td>Routing for the SPA</td>
                    </tr>
                    <tr class="warning">
                        <td>AngularJS Cookies</td>
                        <td>Store login information for future visit to the application</td>
                    </tr>
                    <tr class="warning">
                        <td>AngularJS Animate</td>
                        <td>Animations when switching route</td>
                    </tr>
                    <tr class="warning">
                        <td>AngularJS Sanitize</td>
                        <td>Visualization of new lines in articles and user profile</td>
                    </tr>
                    <tr class="warning">
                        <td>Toastr</td>
                        <td>Visualization of errors and success messages</td>
                    </tr>
                    <tr class="warning">
                        <td>jQuery UI</td>
                        <td>Datepicker for the registration</td>
                    </tr>
                    <tr class="warning">
                        <td>Bootstrap</td>
                        <td>Styles for the client application</td>
                    </tr>
                    <tr class="danger">
                        <td>GitHub</td>
                        <td>Storing the source code</td>
                    </tr>
                    <tr class="danger">
                        <td>Azure</td>
                        <td>Hosting the server in the cloud</td>
                    </tr>
                    <tr class="danger">
                        <td>Heroku</td>
                        <td>Hosting the client application in the cloud</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <h4>Legend for colors</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Used in</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td>Back-end</td>
                    </tr>
                    <tr class="warning">
                        <td>Front-end</td>
                    </tr>
                    <tr class="danger">
                        <td>General</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>