body {
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    background: url("../images/../images/background.png");
}

#toast-container {
    margin-top: 60px;
}

.jumbotron {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.word-break {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
