body {
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    background: url("../images/../images/background.png");
}

#toast-container {
    margin-top: 60px;
}

.jumbotron {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.word-break {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.view-container {
    background-color: white;
}

.profile-image-container {
    position: relative;
    margin-top: 20px;
    width:    100%; /* desired width */
}

.profile-image-container:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.profile-image {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
}

.row {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
